* {
  text-align: center;
  margin: 0;
  padding: 0;
}

/*Header section*/
header {
  justify-content: space-between;
  margin: 10px;
  height: 10vh;
  width: 100%;
}

header span {
  padding: 10px;
}
/*Header section ends*/

p {
  font-size: x-large;
  display: block;
}

/*Answer section*/
.answerButton {
    width: 200px;
    height: 50px;
    background: #390c74;
    margin: 5px;
    color: white;
    border-radius: 20px;
}

.answerButton:hover  {
  background-color: #e068eb;
  cursor: pointer;
}

#answersContainer {
    display: none;
}
/*Answer section ends*/

/*High score section*/
#high-score {
  text-decoration: none;
  color: #e068eb;
  padding: 10px;
  font-weight: 400;
  float: left;
}

#high-score:hover {
  cursor: pointer;
}
/*High score section ends*/

#timer {
  float: right;
  margin-right: 10px;
}

#question {
  margin-bottom: 30px;
}

#introduction {
margin-bottom: 30px;
}

/*to hide certain varibles*/
#inputBox, #enterIntialsPrompt, #submit, #highScoresContainer {
  display: none;
}

#solutionAnswer {
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}